p{
    padding: 20px;
    margin-bottom: 0;
    color: #a1afbc;
    border-color: #b1c6e2;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    clear: both;
    height: 700px;
    width: 960px;
    background-color: #ffffff;
    position: absolute;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

input{
    width: 90%;
    height: 3em;
    margin-left: 20px;
    margin-right: auto;
}

textarea{
    width: 90%;
    height: 20em;
    margin-left: 20px;
    margin-right: auto;
    border-color: #b1c6e2;
}

input.submit{
    background-color: #64a8a4;
    box-sizing: border-box;
    height: 3em;
    width: 15em;
    margin-bottom: 5em;
    margin-top: 1em;
}

.contentbackground {
    background-image: url("../images/white-waves.png");
    background-size: cover;
    height: 700px;
    width: 100%;
}