.portfoliocontainer{
    position: absolute;
    width: 960px;
    height:1200px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentbackground {
    background-image: url("../images/whitewaves.png");
    background-size: cover;
    height: 1300px;
    width: 100%;
}

#content {
    height: 1200px;
    width: 960px;
    background-color: #ffffff;
    position: absolute;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.portfoliocontent{
    position: relative;
    background-color: aquamarine;
    height: 250px;
    width: 250px;
}

h4{
    position: absolute;
    bottom: 1em;
    color: #ffffff;
    border: none;
    font-size: 5em;
    background-color: rgba(21, 175, 149, 0.75);
    text-align: center;
    width: 100%;
    padding: 1em, 0;
    font-size: 1em;
    margin: 0;
}

#portfolio1{
    margin: 3em;
    background-image: url("../images/ipad.jpg");
    background-size: cover;
}

#portfolio2{
    margin: 3em;
    background-image: url(../images/rpg.jpg);
    background-size: cover;
}

#portfolio3{
    margin: 3em;
    background-image: url(../images/trivia.jpg);
    background-size: cover;
}

#portfolio4{
    margin: 3em;
    background-image: url(../images/rutgers.jpeg);
    background-size: cover;
}

#portfolio5{
    margin: 3em;
    background-image: url(../images/rockpaperscissors.jpg);
    background-size: cover;
    margin-bottom: 10em;
}